* {
    background-color: #9AC2C9;
    font-family: Kufam, cursive;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    background-color: #04724D;
    padding: 2%;
    max-width: 1000px;
    margin: 0 auto;
    color: #B9D8C2;
}

p {
    text-align: center;
    font-size: 1.5em;
    color: #1D70a2;
    line-height: 1.5;
}

button {
    display: block;
    background-color: #FFCB47;
    color: #1D70A2;
    padding: 1%;
    padding-top: 1.3%;
    border-radius: 5%;
    text-align: center;
    margin: 1% auto;
    font-size: 1em;
    border: 1px solid #1D70A2
}

button:hover {
    background-color: #1D70A2;
    color: #FFCB47;
    cursor: pointer;
}

#sentenceForm {
    text-align: center;
    padding-bottom: 2%;
    font-size: 1.1em;
}

label {
    color: #04724D
}

input {
    border: none;
    border-bottom: 2px solid #04724D;
    padding-right: 5px;
    width: 100px;
    margin-right: 10px;
    color: #04724D;
    font-size: 1.05em;
}

.word {
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#invalid-submission {
    display: none;
}

#select-sentence {
    display: none;
}

#hints {
    display: none;
}

.sentence {
    border: 1px solid #1D70A2;
    padding: 1%;
    color: #1D70A2;
    font-size: 1.5em;
    border-radius: 3%;
    width: max-content;
    margin: 2% auto;
}

.sentence:hover {
    cursor: pointer;
    background-color:#1D70A2;
    color: #9AC2C9;
}

#answer {
    display: none;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {

    h1 {
        font-size: 1.75em;
        max-width: 100%;
    }
     
    p {
        text-align: center;
        line-height: 1.5;
        padding: 0;
        margin: 0;
        padding-top: 1%;
    }

    .word {
        min-width: 32%;
    }

    input {
        border: none;
        border-bottom: 2px solid #04724D;
        padding-right: 3px;
        margin-right: 5px;
        color: #04724D;
        font-size: 1.25em;
        min-width: 90%;
    }

    button {
        padding: 3%;
        margin-top: 3%;
        font-size: 1.25em;
    }

    .sentence {
        margin-bottom: 5%;
        padding: 2%;
        max-width: 100%;
    }
}

@media only screen and (max-width: 330px) {

    h1 {
        font-size: 1em;
        letter-spacing: .2em;
        max-width: 100%;
    }
     
    p {
        text-align: center;
        line-height: 1.5;
        font-size: 1.2em;
    }

    .word {
        min-width: 30%;
    }

    input {
        border: none;
        border-bottom: 2px solid #04724D;
        padding-right: 3px;
        margin-right: 5px;
        color: #04724D;
        font-size: 1.2em;
        min-width: 90%;
    }

    button {
        padding: 3%;
        margin-top: 3%;
        font-size: 1em;
    }

    .sentence {
        margin-bottom: 2%;
        padding: 2%;
        max-width: 100%;
        font-size: 1.2em;
    }
}